<h1>aqui estamos</h1>
<a href="{{path('template_trabajo')}}">ir a trabajo</a>

<a href="{{path('template_parametros', {id: 12, slug: 'soy un slug'})}}">parametros</a>

<a href="{{path('template_layout')}}">Ir a template layaut</a>