<!DOCTYPE html>
<html>
<head>
    <title>Decoded Scores</title>
</head>
<body>
    <h1>Decoded Scores</h1>
    <ul>
        {% for decoded in decodedData %}
            <li>{{ decoded }}</li>
        {% endfor %}
    </ul>
</body>
</html>
